<!DOCTYPE html>
<html>
  <head>
    <title>Presentation</title>

    <meta charset='utf-8' />
    <link href='styles.css' rel='stylesheet' type='text/css' />
    <link href="rainbow/themes/solarized-light.css" rel="stylesheet" type="text/css" />
    <script src='google_slides.js'></script>
    <script src="rainbow/rainbow.min.js"></script>
    <script src="rainbow/language/generic.js"></script>
    <script src="rainbow/language/ruby.js"></script>
    <script src="rainbow/language/coffeescript.js"></script>

  </head>

  <body style='display: none'>

    <section class='slides layout-widescreen template-default'>

      <article>
        <h1>Rails, Backbone.js, and (a little Jasmine)</h1>
        <h2 class="subtitle">LaRubyConf 2013</h2>
        <p>by Austin Fonacier</p>
      </article>
      
      <article>
        <h3>Who I Am</h3>
        <h4 class='subtitle'>Spokeo</h4>
        <h5>Software Architect</h5>
      </article>

      <article>
        <h3>Who We Are</h3>
        <h4 class='subtitle'>Blogmate</h4>
        <h4 class='subtitle'>Ben, Danny, Austin</h4>
        <ul class="build">
          <li>Ben: Business, product and voice of reason</li>
          <li>Austin: Ruby, Rails, and screwing up Danny's CSS</li>
          <li>Danny: Design, Javascript, CSS, and everything</li>
        </ul>
      </article>

      <article>
        <h3>Warning!!!</h3>
        <ul class="build">
          <li>I'm not a javascript expert</li>
          <li>I'm not a Ruby or Rails expert</li>
          <li>I'm just a semi-decent user of existing tools</li>
          <li>I'm just just sharing my experiences of using tools and the outcome it has on our product</li>
          <li>All javascript examples are in CoffeeScript</li>
        </ul>
      </article>

      <article>
        <h3>Tech Introduction: Rails</h3>
        <h4 class='subtitle'>http://rubyonrails.org/</h4>
        <ul class="build">
          <li>Ruby Framework</li>
          <li>MVC Architecture</li>
          <li>TDD Driven</li>
          <li>REST-ful</li>
          <li>Not much else on this...</li>
        </ul> 
      </article>

      <article>
        <h3>Tech Introduction: Jasmine</h3>
        <h4 class='subtitle'>http://pivotal.github.com/jasmine/</h4>
        <ul class="build">
          <li>BDD framework for testing Javascript</li>
          <li>RSPEC-ish style</li>
          <li>Jasmine gem for Ruby based integration</li>
          <li>Can integrate with Selenium and continuous integraiton environments</li>
        </ul> 
      </article>

      <article>
        <h3>Tech Introduction: Backbone.js</h3>
        <h4 class='subtitle'>http://pivotal.github.com/jasmine/</h4>
        <ul class="build">
          <li>BDD framework for testing Javascript</li>
          <li>RSPEC-ish style</li>
          <li>Jasmine gem for Ruby based integration</li>
          <li>Can integrate with Selenium and continuous integraiton environments</li>
        </ul> 
      </article>      

      <article>
        <h3>Tech Introduction: Backbone.js</h3>
        <h4 class='subtitle'>http://backbonejs.org/</h4> 
        <ul class='build'>
          <li>Javascript framework</li>
          <li>MV* framework</li>
          <li>Routes</li>
          <li>Dependency: underscore.js</li>
          <li>Small: 6kb</li>
          <li>Just getting your appetite wet...</li>
        </ul>
      </article>


      <article>
        <h3>Enough Bullet Points</h3>
        <h4>Let's Get Into It</h4>
        <img class='centered' src='img/yayyy.gif' />
      </article>

      <article>
        <h3>Case Study: Blogmate</h3>
        <h4>Austin + Danny + CRUMB = #winning</h4>
        <ul>
          <li>Started out writing vanilla javascript and jQuery</li>
          <li>Things start to get messy when adding complex interactions and pushing/pulling from the db</li>
          <li>Backbone saved my life</li>
        </ul>
        <img class='centered' src="img/critic.gif" />
      </article>

      <article>
        <h3>Backbone: Model</h3>
        <p>Core of backbone, a model has a 1-1 correlation with a model in Rails</p>
<pre><code data-language="coffeescript">class @Annotation extends Backbone.Model
  initialize: (attrs) ->
    @annotation_text   = attrs['annotation_text']
    @highlighted_text  = attrs['highlighted_text']
    @user_id           = attrs['user_id']
    @id                = attrs['id']
    @users_articles_id = attrs['users_articles_id']

  defaults: {

  }

  url: ->
    u = "/annotations"
    u = "#{u}/#{@id}" if @id
    u
</code></pre>
      </article>

      <article>
        <h3>Backbone: Model (cont)</h3>
        <h4 class="subtitle">get, set, save, destroy</h4>
        <p>All you need is basic CRUD methods in your controller and you can start CRUDing in backbone</p>
<pre><code data-language="coffeescript">@model.get('key') # would return 'value'
@model.set({ key: 'value' })
@model.destroy({
  success: (response) ->
  error: (response) ->
})
@model.save({ key: 'value' }, {
  sucess: (model,response) ->
  error: (response) ->
})
</code></pre>
      </article>

      <article>
        <h3>Backbone: Relational Model</h3>
        <p>Use the backbone relational model library to define relationships between models, basically we are getting Rails like architecture.</p>
<pre><code data-language="coffeescript">class @UsersArticle extends Backbone.RelationalModel
  
  relations: [{
    type: Backbone.HasMany,
    key: 'list_items',
    relatedModel: 'ListItem',
    collectionType: 'ListItems',
    reverseRelation: {
      key: 'user_article'
    }
    }]

  initialize: (attrs) ->
</code></pre>
      </article>

      <article>
        <h3>Backbone: Relational Model (cont)</h3>
        <p>With relational models, in a view I can iterate over a model's related models like so:</p>
<pre><code data-language="coffeescript">_.each(@model.get('list_items').models, (list_item) =>
  # do stuff like list_item.get('id')
  )
</code></pre>

      </article>

      <article>
        <h3>Backbone: Collection</h3>
        <p>A collection of models, in rails you can just give it a JSON'd array of objects and all the models get populated</p>
<pre><code data-language="coffeescript">class @AnnotationCollection extends Backbone.Collection
  model: Annotation

  initialize: ->

  url: ->
</code></pre>
<pre><code data-language="coffeescript">annotationCollection = new AnnotationCollection( 
  <%= @users_article.annotations.to_json() %> 
);
</code></pre>
      </article>

      <article>
        <h3>Backbone: View</h3>
        <p>UI representation of a model</p>
<pre><code data-language="coffeescript">class @ListView extends Backbone.View
  
  tagName: 'li'
  template: SMT['list_item']

  initialize: (attrs) ->
    @model.on('change', this.render)
    this.render()

  events: {

  }

  render: =>
    this.$el.html( this.template(@model.toJSON()) )
    return this
</code></pre>
      </article>

      <article>
        <h3>Backbone: Collection View</h3>
        <p>Extended the Backbone.View class to make a collection view that sets up and renders all sub views (model views)</p>
<pre><code data-language="coffeescript">class @ListCollectionView extends Backbone.CollectionView

  el: '#list_items'
  collectionView: ListView

  initialize: (attrs) ->
    this.rendersCollectively()
    this.render()
    @collection.on('add', this.render, this)
    
  events: {
    'click #new_list_btn' : 'newList'
  }

  render: =>
    this.renderCollection()
</code></pre>
      </article>

      <article>
        <h3>Backbone: Collection View (cont)</h3>
        <p>I extended the Backbone.View class to have methods like rendersCollectively and renderCollection</p>
        <p>rendersCollectively = adds a _viewPointers object on the class that references all the sub-views, and adds all the models in the collection and renders them.</p>
        <p>renderCollection = write all the sub views to the collection view.</p>
      </article>

      <article>
        <h3>All Together Now</h3>
<pre><code data-language="ruby">list = new List( <%= @list.to_json() %> );
listView = new ListPage({ model: list });

listCollection = new ListCollection( <%= @lists.to_json() %> );
listCollectionView = new ListCollectionView({ collection : listCollection });

userArticleCollection = new UserArticleCollection( <%= @users_articles.to_json() %> );
userArticleCollectionView = new UserArticleCollectionView({ collection : userArticleCollection });
</code></pre>
      </article>

      <article>
        <h3>Did not cover: Routes</h3>
        <p>Backbone also has routing that is very similar to the way Rails does routes.</p>
        <p>You could make a single page app and handle all links in Backbone if you wanted to.</p>
      </article>

      <article>
        <h3>CRUMB Isn't For Every Project</h3>
        <p>For projects that don't need to interact with models and keep things in sync, backbone is overkill.</p>
        <p>Example: Bizshark does not need backbone.</p>
        <p>CRUMB is for:</p>
        <ul>
          <li>Making lots of $.post or $.ajax calls</li>
          <li>Interacting with UI representations of models</li>
          <li>You have lots of functions/methods with callbacks</li>
        </ul>
      </article>

      <article>
        <h3>For More Info:</h3>
        <ul>
          <li><a href="#">http://addyosmani.github.com/backbone-fundamentals/</a></li>
          <li>http://backboneboilerplate.com/</li>
          <li>http://documentcloud.github.com/backbone/docs/backbone.html</li>
          <li>http://documentcloud.github.com/backbone/docs/todos.html</li>
          <li>I will also glady walk you  through my whole JS architecture in JS.</li>
        </ul>
      </article>

      <article>
        <img class='centered' src="img/gangnam_haters.gif" />
      </article>

    </section>

  </body>
</html>
